.navbar__header {
    align-items: center;
    background: #303030;
    display: flex;
    justify-content: space-between;
    padding: 12px 5%;
    position: relative;
    z-index: 1;
}

.navbar__header .button:first-child {
    display: flex;
    justify-content: center;
}

.navbar__menu {
    background: #303030;
    display: flex;
    position: absolute;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0 5%;
    transition: transform 750ms;
    width: 90%;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Tablet */
}

@media only screen and (min-width : 1224px) {
    /* Desktop & laptop */
}