.entityList {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding-bottom: 10px;
}

.entityList::-webkit-scrollbar {
    height: 10px;
    background: transparent;
    border: 1px solid #303030;
    width: 1px;
}

.entityList::-webkit-scrollbar-thumb {
    width: 1px;
    background: #303030;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {    
    .pageTitle {
        font-size: 34px;
    }
}

@media only screen and (min-width : 1024px) {
    .entityList {
        padding-bottom: 50px;
    }
    
    .pageTitle {
        font-size: 40px;
    }
}

@media only screen and (min-width : 768px) {
    .entityList {
        height: inherit;
        overflow-x: scroll;
    }

    .entityList::-webkit-scrollbar {
        height: 10px;
        background: transparent;
        border: 1px solid #303030;
        width: 1px;
    }
    
    .entityList::-webkit-scrollbar-thumb {
        width: 1px;
        background: #303030;
    }
}