.entity {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: max-content;
}

.entity > * {
    width: 200px;
}

.entity__imageside img {
    height: 100%;
    width: 100%;
}

.entity__description {
    line-height: 150%;
    margin: 20px auto;
    text-align: justify;
}

@media only screen and (min-width : 768px) {
    .entity {
        flex-direction: row;
        justify-content: space-between;
        height: 360px;
    }

    .entity > * {
        height: 100%;
        width: 40%;
    }

    .entity__description {
        overflow-y: scroll;
        text-align: justify;
        padding-right: 5%;
    }

    .entity__description::-webkit-scrollbar {
        height: 10px;
        background: transparent;
        border: 1px solid #303030;
        width: 10px;
    }

    .entity__description::-webkit-scrollbar-thumb {
        width: 10px;
        background: #303030;
    }
}