.categoryItem {
    border-radius: 0.5em;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.4);
    transition: 0.3s;
    width: 110px;
    /* margin: 25px 15px; */
}

.categoryItem:hover {
    box-shadow: 0 16px 32px 0 rgba(255, 255, 255, 0.4);
}

.categoryItem img {
    height: 110px;
    width: 110px;
}

.itemContainer {
    padding: 2px 16px;
    text-align: justify;
    text-overflow: "...";
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {

}

@media only screen and (min-width : 1024px) {
    .categoryItem:not(:last-child) {
        margin-right: 100px;
    }
}