.categoryItem {
    transition: 0.3s;
    width: 120px;
}

.categoryItem:not(:last-child) {
    margin-right: 40px;
}

.categoryItem img {
    height: 120px;
    width: 120px;
}

.itemContainer {
    padding: 2px 16px;
    text-overflow: "...";
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
    .categoryItem {
        width: 240px;
    }

    .categoryItem:not(:last-child) {
        margin-right: 80px;
    }

    .categoryItem img {
        height: 240px;
        width: 240px;
    }
}

@media only screen and (min-width : 1024px) {
    .categoryItem {
        width: 360px;
    }

    .categoryItem:not(:last-child) {
        margin-right: 120px;
    }

    .categoryItem img {
        height: 360px;
        width: 360px;
    }
}