@import url('https://css.gg/backspace.css');
@import url('https://css.gg/close.css');
@import url('https://css.gg/menu.css');
@import url('https://css.gg/pen.css');
@import url('https://css.gg/trash.css');

body {
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
    transition: 0.5s;
}

p {
    margin: 0;
    padding: 0;
}

a:active {
    color: #4080FF;
}

a:hover {
    color: #60C0FF;
}

.banner {
    display: none;
    width: 100%;
    height: 50vh;
}

.bg-danger {
    background: red !important;
}

.bg-warning {
    background: #FFA500 !important;
}

.buttonList {
    align-items: center;
    display: flex;
}

.buttonList Button:not(:first-child, :last-child) {
    margin: 0 20px;
}

.footer {
    border-top: 1px solid #808080;
    align-items: center;
    display: flex;
    font-size: 12px;
    justify-content: center;
    height: 10vh;
    margin-top: 25px;
    text-align: center;
    width: 100%;
}

input, textarea, select {
    background: #303030;
    border: 0;
    color: white;
    outline: 0;
}

.form__field label {
    display: none;
}

.form__field label + * {
    padding: 10px;
    width: 100%;
}

.form__field label + *:focus {
    background: #181818;
}

.form__field input[name="password"] {
    margin: 20px 0;
}

.itemLink {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.itemLink:active {
    transform: scale(0.9);
}

.itemImage {
    height: 100%;
    width: 100%;
}

.gg-backspace {
    position: relative;
    right: -2px;
}

.logoButton {
    align-items: center;
    background: #C0C0C0;
    color: black;
    display: flex;
    height: 30px;
    justify-content: center;
    transition: 0.5s;
    width: 30px;
}

.logoButton:active,
.realButton:active {
    transform: scale(0.7);
}

.logoButton:hover,
.realButton:hover {
    background: gray;
}

.menuTitle {
    font-size: 25px; 
    font-weight: bold;
}

.navbar__header {
    align-items: center;
    background: #303030;
    display: flex;
    justify-content: space-between;
    padding: 12px 5%;
    position: relative;
    z-index: 3;
}

.navbar__header .button:first-child {
    display: flex;
    justify-content: center;
}

.navbar__menu {
    background: #303030;
    display: flex;
    position: absolute;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0 5%;
    transition: transform 750ms;
    width: 90%;
    z-index: 2;
}

.pageTitle {
    font-size: 28px;
}

.pageTitle::first-letter {
    border-bottom: 7px solid #808080;
    padding-bottom: 3px;
}

.realButton {
    align-items: center;
    background: #303030;
    color: white;
    display: flex;
    font-weight: bold;
    justify-content: center;
    margin: 0;
    padding: 10px;
    text-transform: uppercase;
    transition: 0.5s;
    width: fit-content;
}

.txt-black {
    color: black;
}

.txt-white {
    color: white;
}

.warning {
    background: #FF8080;
    color: #402020;
    padding: 10px;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
    .pageTitle {
        font-size: 34px;
    }
}

@media only screen and (min-width : 1024px) {    
    .form__field label + * {
        width: 50%;
    }
    
    .pageTitle {
        font-size: 40px;
    }
}